# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/

# PyCharm
.idea/

# data
# Ignore everything inside data/01_raw
data/01_raw/*

# But do not ignore the data/01_raw directory itself
!data/01_raw/

# vscode
.vscode/

todo/
notebooks/
responses.csv
data/01_raw/*

# DINOv2 model pre-trained tensors
data/03_models/DINOv2_HuggingFace/dinov2_model/model.safetensors