# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
env/

# PyCharm
.idea/

# Ignore everything in data/01_raw
data/01_raw/*

# But don't ignore the directory and the .gitkeep file
!data/01_raw/.gitkeep

# vscode
.vscode/

todo/
notebooks/
responses.csv
data/01_raw/*

# DINOv2 model pre-trained tensors
data/03_models/DINOv2_HuggingFace/dinov2_model/model.safetensors